.container {
  display: flex;
}

.menu {
  flex: 1;
  background-color: #f1f1f4;
  padding: 20px;
  box-shadow: #f1f1f4;
}

.navbar {
  flex: 4;
  padding: 0;
}

.content {
  flex: 4;
  padding: 20px;
  padding-top: 0px;
}

.wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.side {
  flex: 1;
}
